.card {
  display: flex;
  align-items: center;
  width: calc(91% / 3);
  height: 45em;
  margin: 0 auto 3em;
  box-shadow: 0px 10px 8px 0px rgba(217, 217, 217, 1);
  padding: 2em;
}
.card:nth-of-type(3n) {
  margin-right: 0;
}

.card.dark {
  background-color: #414143;
  color: White;
}

.card.light {
  background-color: #E1DCD9;
  color: Black;
}
.card.colorful {
  background: linear-gradient(166deg, #E1DCD9 0%,#A67F78 100%);
}

.pic {
  width: 100%;
  height: 90%;
  margin-top: 1em;
}

.info {
  width: 100%;
}

.where,
.who,
.title,
.date,
.message {
  margin: 0;
  font-size: 0.8rem;
  margin-bottom: 0.2em;
  font-family: 'Noto Serif KR';
}

.title {
  font-size: 1.2rem;
  margin-bottom: 0.4em;
}

.where {
  font-size: 0.8rem;
}

.date {
  float: right;
}

.message {
  margin-top: 0.8em;
  height: 150px;
  overflow: auto;
}

.pic {
  height: 230px;
}