.preview {
  flex-basis: 70%;
  overflow-y: auto;
}

.title {
  width: 100%;
  text-align: center;
  margin-bottom: 1em;
  color: #414143;
}

.cards {
  width: 100%;
  padding: 0.5em 2em;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin: 0 2em 2em 0;
}
