.header {
    width: 100%;
    height: 10em;
    text-align: center;
    padding: 0.5em;
    position: relative;
  }
  
  .title {
    color: #414143;
    font: bold 3.5em/1 'Merriweather';
  }
  
  .logout {
    position: absolute;
    right: 3em;
    top: 50%;
    transform: translateY(-50%);
    padding: 0.8em;
    color: #414143;
    background: #fff;
    outline: 0;
    border: 1px solid #414143;
    cursor: pointer;
    font: bold 10px/1 'Merriweather';
    transition: 0.5s;
  }
  .logout:hover {
    background: #414143;
    color: #E1DCD9;
  }
  